{% if section.settings.align_logo == 'left' %}
  <div class="site-header__search site-header__icon small--hide">
    {% include 'search-form' %}
  </div>
{% endif %}

<button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top medium-up--hide">
  {% include 'icon-search' %}
  <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
</button>

{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <a href="/account" class="site-header__icon site-header__account">
      {% include 'icon-login' %}
      <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
    </a>
  {% else %}
    <a href="/account/login" class="site-header__icon site-header__account">
      {% include 'icon-login' %}
      <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
    </a>
  {% endif %}
{% endif %}

<a href="/cart" class="site-header__icon site-header__cart">
  {% include 'icon-cart' %}
  <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
  {% if cart.item_count > 0 %}
    <div id="CartCount" class="site-header__cart-count">
      <span>{{ cart.item_count }}</span>
      <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
    </div>
  {% endif %}
</a>
